In [9]:
import pandas as pd
import time

data = pd.read_csv("./dataset/full_gmm.csv")

crops_cols = ['Unnamed: 0', 'lable', 'lable2', 'lable3', 'lable4']

In [10]:
data.drop(crops_cols, 1)

      keyword  count
0          회원    989
1         아이디    966
2          가입    963
3         로그인    890
4          입력    799
...       ...    ...
21876      복기      1
21877      성향      1
21878   가능하므로      1
21879      롤로      1
21880  Karina      1

[21881 rows x 2 columns]